.copen-sans-normal{
     font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/*My Header and Nevber styles*/
.background-bg{
    background-image: url("rgba(0,0,0,0.5)"),url("/Assets/Hero-bg.png");
    height: 500px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.banner{
    display: flex;
    justify-content: space-between;
    padding: 0 35px 200px;
}

.banner-content{
     width: 584px;
     padding: 40px;
     margin-left: 55px;
     text-align: center;
     margin: 0 auto;
}

.nav-style{
    font-weight: 800;
    font-size: 45px;
    color: #4E47FF;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 50px;  
}

.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
    margin: 10px;
}
    /*section hero*/
.action-ctaineonr{
    display: flex;
    width: 1140px;
    height: 628px;
    align-items: center;
    justify-content: space-between;
    gap: auto;
    margin: auto;
}

.action-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}

.action-sub-title{
    font-size: 20px;
    line-height: 25px;
    color: #252432;
}

.action-content{
    width: 315px;
    height: 200px;
    align-items: top left;
    gap: 23px;
}

.action-image img{
     width: 400px;
     height: 325px;
     border-radius: 48px;
     align-items: right;
     margin-top: 150px;

}

.action-btn{
    margin-left: 0px;
}
.action-btn a{
    text-decoration: none;
    padding: 36px 12px;
    color: #FFFFFF;
}